@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body { 
    font-family: Roboto;
    background: url(https://media.gettyimages.com/photos/the-road-to-picture-id94330576?s=2048x2048);}

.logo {
    height: 140px; 
    width: 140px; 
    margin-right: 55px; 
}

.slogan {
    font-style: italic; 
    font-size: 400%;
    margin-top: 10px; 
    color: white;}

.header {
    display: flex;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1110px;
    }

.address {
    float: left;
    color: white;    
}

#wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    float: left;
    border: 2px solid rgb(49, 49, 146);}

@media only screen and (max-width: 768px) {
  .slogan {
      font-size: 3em;
   }
   .container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 435px));
    }
  }

@media only screen and (min-width: 768px) {
    .slogan {
        font-size: 3em;
     }

    .container  {
        grid-template-columns: auto 540px;
  } 
}

@media only screen and (min-width: 992px) {
    .slogan {
        font-size: 4em;
     }

.container  {
    grid-template-columns: auto 1110px;
} }