
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
  font-family: Roboto;
  font-size: 100%;
  background: url(https://media.gettyimages.com/photos/the-road-to-picture-id94330576?s=2048x2048);
  background-repeat: no-repeat;
  }


* {box-sizing: border-box;}

.logo {
    height: 140px; 
    width: 140px; 
    margin-right: 55px; 
}

.slogan {
    font-style: italic; 
    font-size: 400%;
    margin-top: 10px; 
    color: white;}

.header {
  display: flex;
}

img {
  margin: 6px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;}

@media only screen and (max-width: 768px) {
  .slogan {
      font-size: 3em;
   }
  } 

